
module passenger 1.0;

require {
	type unconfined_t;
	type automount_t;
	type initrc_t;
	type abrt_dump_oops_t;
	type user_devpts_t;
	type dhcpc_t;
	type pcscd_t;
	type usr_t;
	type devicekit_disk_t;
	type xserver_t;
	type policykit_t;
	type cupsd_t;
	type mysqld_safe_t;
	type hald_t;
	type apmd_t;
	type getty_t;
	type rtkit_daemon_t;
	type xdm_t;
	type lldpad_t;
	type modemmanager_t;
	type unconfined_dbusd_t;
	type rpcbind_t;
	type init_t;
	type auditd_t;
	type mysqld_t;
	type syslogd_t;
	type NetworkManager_t;
	type certmonger_t;
	type sysfs_t;
	type system_dbusd_t;
	type httpd_var_lib_t;
	type devicekit_power_t;
	type avahi_t;
	type ntpd_t;
	type kernel_t;
	type httpd_sys_script_t;
	type consolekit_t;
	type var_lib_t;
	type udev_t;
	type sshd_t;
	type anon_inodefs_t;
	type fcoemon_t;
	type crond_t;
	type rpcd_t;
	type httpd_t;
	type http_port_t;
	class process { getsession setpgid };
	class chr_file { read write ioctl };
	class capability { setuid sys_resource sys_ptrace dac_override chown fsetid kill setgid fowner };
	class tcp_socket {listen name_connect};
	class file { write execute ioctl append read open getattr execute_no_trans };
	class dir { getattr search write };
}

#============= httpd_sys_script_t ==============
allow httpd_sys_script_t NetworkManager_t:dir getattr;
allow httpd_sys_script_t abrt_dump_oops_t:dir getattr;

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t anon_inodefs_t:file { write read };
allow httpd_sys_script_t apmd_t:dir getattr;
allow httpd_sys_script_t auditd_t:dir getattr;
allow httpd_sys_script_t automount_t:dir getattr;
allow httpd_sys_script_t avahi_t:dir getattr;
allow httpd_sys_script_t certmonger_t:dir getattr;
allow httpd_sys_script_t consolekit_t:dir getattr;
allow httpd_sys_script_t crond_t:dir getattr;
allow httpd_sys_script_t cupsd_t:dir getattr;

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t devicekit_disk_t:dir { getattr search };
allow httpd_sys_script_t devicekit_disk_t:file read;
allow httpd_sys_script_t devicekit_power_t:dir getattr;

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t dhcpc_t:dir { getattr search };
allow httpd_sys_script_t dhcpc_t:file read;
allow httpd_sys_script_t fcoemon_t:dir getattr;
allow httpd_sys_script_t getty_t:dir getattr;
allow httpd_sys_script_t hald_t:dir getattr;
allow httpd_sys_script_t httpd_t:dir getattr;

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t httpd_var_lib_t:file append;
allow httpd_sys_script_t init_t:dir getattr;
allow httpd_sys_script_t initrc_t:dir getattr;
allow httpd_sys_script_t kernel_t:dir getattr;
allow httpd_sys_script_t lldpad_t:dir getattr;
allow httpd_sys_script_t modemmanager_t:dir getattr;
allow httpd_sys_script_t mysqld_safe_t:dir getattr;
allow httpd_sys_script_t mysqld_t:dir getattr;
allow httpd_sys_script_t ntpd_t:dir getattr;
allow httpd_sys_script_t pcscd_t:dir getattr;
allow httpd_sys_script_t policykit_t:dir getattr;
allow httpd_sys_script_t rpcbind_t:dir getattr;
allow httpd_sys_script_t rpcd_t:dir getattr;
allow httpd_sys_script_t rtkit_daemon_t:dir getattr;
allow httpd_sys_script_t self:capability sys_ptrace;

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t self:capability { setuid sys_resource dac_override chown fsetid kill setgid fowner };

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t self:process { getsession setpgid };

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t self:tcp_socket listen;
allow httpd_sys_script_t sshd_t:dir getattr;

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t sysfs_t:dir search;

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t sysfs_t:file { read open };
allow httpd_sys_script_t syslogd_t:dir getattr;
allow httpd_sys_script_t system_dbusd_t:dir getattr;
allow httpd_sys_script_t udev_t:dir getattr;
allow httpd_sys_script_t unconfined_dbusd_t:dir getattr;
allow httpd_sys_script_t unconfined_t:dir getattr;

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t user_devpts_t:chr_file { read write ioctl };

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t usr_t:file { execute execute_no_trans };

#!!!! This avc is allowed in the current policy
allow httpd_sys_script_t var_lib_t:file { read getattr open ioctl };
allow httpd_sys_script_t xdm_t:dir getattr;
allow httpd_sys_script_t xserver_t:dir getattr;

allow httpd_sys_script_t NetworkManager_t:dir search;
allow httpd_sys_script_t abrt_dump_oops_t:dir search;
allow httpd_sys_script_t apmd_t:dir search;
allow httpd_sys_script_t auditd_t:dir search;
allow httpd_sys_script_t automount_t:dir search;
allow httpd_sys_script_t avahi_t:dir search;
allow httpd_sys_script_t certmonger_t:dir search;
allow httpd_sys_script_t consolekit_t:dir search;
allow httpd_sys_script_t crond_t:dir search;
allow httpd_sys_script_t cupsd_t:dir search;
allow httpd_sys_script_t devicekit_disk_t:file open;
allow httpd_sys_script_t devicekit_power_t:dir search;
allow httpd_sys_script_t dhcpc_t:file open;
allow httpd_sys_script_t fcoemon_t:dir search;
allow httpd_sys_script_t getty_t:dir search;
allow httpd_sys_script_t hald_t:dir search;

#!!!! This avc can be allowed using one of the these booleans:
#     allow_ypbind, httpd_can_network_connect
allow httpd_sys_script_t http_port_t:tcp_socket name_connect;
allow httpd_sys_script_t httpd_t:dir search;
allow httpd_sys_script_t httpd_var_lib_t:file open;
allow httpd_sys_script_t init_t:dir search;
allow httpd_sys_script_t initrc_t:dir search;
allow httpd_sys_script_t kernel_t:dir search;
allow httpd_sys_script_t lldpad_t:dir search;
allow httpd_sys_script_t modemmanager_t:dir search;
allow httpd_sys_script_t mysqld_safe_t:dir search;
allow httpd_sys_script_t mysqld_t:dir search;
allow httpd_sys_script_t ntpd_t:dir search;
allow httpd_sys_script_t pcscd_t:dir search;
allow httpd_sys_script_t policykit_t:dir search;
allow httpd_sys_script_t rpcbind_t:dir search;
allow httpd_sys_script_t rpcd_t:dir search;
allow httpd_sys_script_t rtkit_daemon_t:dir search;
allow httpd_sys_script_t sshd_t:dir search;
allow httpd_sys_script_t syslogd_t:dir search;
allow httpd_sys_script_t system_dbusd_t:dir search;
allow httpd_sys_script_t udev_t:dir search;
allow httpd_sys_script_t unconfined_dbusd_t:dir search;
allow httpd_sys_script_t unconfined_t:dir search;
allow httpd_sys_script_t xdm_t:dir search;
allow httpd_sys_script_t xserver_t:dir search;

allow httpd_sys_script_t NetworkManager_t:file read;
allow httpd_sys_script_t abrt_dump_oops_t:file read;
allow httpd_sys_script_t apmd_t:file read;
allow httpd_sys_script_t auditd_t:file read;
allow httpd_sys_script_t automount_t:file read;
allow httpd_sys_script_t avahi_t:file read;
allow httpd_sys_script_t certmonger_t:file read;
allow httpd_sys_script_t consolekit_t:file read;
allow httpd_sys_script_t crond_t:file read;
allow httpd_sys_script_t cupsd_t:file read;
allow httpd_sys_script_t devicekit_power_t:file read;
allow httpd_sys_script_t fcoemon_t:file read;
allow httpd_sys_script_t getty_t:file read;
allow httpd_sys_script_t hald_t:file read;
allow httpd_sys_script_t httpd_t:file read;
allow httpd_sys_script_t httpd_var_lib_t:dir { search getattr };
allow httpd_sys_script_t httpd_var_lib_t:file { getattr ioctl };
allow httpd_sys_script_t init_t:file read;
allow httpd_sys_script_t initrc_t:file read;
allow httpd_sys_script_t kernel_t:file read;
allow httpd_sys_script_t lldpad_t:file read;
allow httpd_sys_script_t modemmanager_t:file read;
allow httpd_sys_script_t mysqld_safe_t:file read;
allow httpd_sys_script_t mysqld_t:file read;
allow httpd_sys_script_t ntpd_t:file read;
allow httpd_sys_script_t pcscd_t:file read;
allow httpd_sys_script_t policykit_t:file read;
allow httpd_sys_script_t rpcbind_t:file read;
allow httpd_sys_script_t rpcd_t:file read;
allow httpd_sys_script_t rtkit_daemon_t:file read;
allow httpd_sys_script_t sshd_t:file read;
allow httpd_sys_script_t syslogd_t:file read;
allow httpd_sys_script_t system_dbusd_t:file read;
allow httpd_sys_script_t udev_t:file read;
allow httpd_sys_script_t unconfined_dbusd_t:file read;
allow httpd_sys_script_t unconfined_t:file read;
allow httpd_sys_script_t xdm_t:file read;
allow httpd_sys_script_t xserver_t:file read;

#============= httpd_sys_script_t ==============
allow httpd_sys_script_t NetworkManager_t:file open;
allow httpd_sys_script_t abrt_dump_oops_t:file open;
allow httpd_sys_script_t apmd_t:file open;
allow httpd_sys_script_t auditd_t:file open;
allow httpd_sys_script_t automount_t:file open;
allow httpd_sys_script_t avahi_t:file open;
allow httpd_sys_script_t certmonger_t:file open;
allow httpd_sys_script_t consolekit_t:file open;
allow httpd_sys_script_t crond_t:file open;
allow httpd_sys_script_t cupsd_t:file open;
allow httpd_sys_script_t devicekit_power_t:file open;
allow httpd_sys_script_t fcoemon_t:file open;
allow httpd_sys_script_t getty_t:file open;
allow httpd_sys_script_t hald_t:file open;
allow httpd_sys_script_t httpd_t:file open;
allow httpd_sys_script_t httpd_var_lib_t:file read;
allow httpd_sys_script_t init_t:file open;
allow httpd_sys_script_t initrc_t:file open;
allow httpd_sys_script_t kernel_t:file open;
allow httpd_sys_script_t lldpad_t:file open;
allow httpd_sys_script_t modemmanager_t:file open;
allow httpd_sys_script_t mysqld_safe_t:file open;
allow httpd_sys_script_t mysqld_t:file open;
allow httpd_sys_script_t ntpd_t:file open;
allow httpd_sys_script_t pcscd_t:file open;
allow httpd_sys_script_t policykit_t:file open;
allow httpd_sys_script_t rpcbind_t:file open;
allow httpd_sys_script_t rpcd_t:file open;
allow httpd_sys_script_t rtkit_daemon_t:file open;
allow httpd_sys_script_t sshd_t:file open;
allow httpd_sys_script_t syslogd_t:file open;
allow httpd_sys_script_t system_dbusd_t:file open;
allow httpd_sys_script_t udev_t:file open;
allow httpd_sys_script_t unconfined_dbusd_t:file open;
allow httpd_sys_script_t unconfined_t:file open;
#!!!! The source type 'httpd_sys_script_t' can write to a 'dir' of the following types:
# tmp_t, httpd_tmp_t, httpd_sys_ra_content_t, httpd_sys_rw_content_t, httpdcontent, httpd_sys_content_t

allow httpd_sys_script_t var_lib_t:dir write;
allow httpd_sys_script_t xdm_t:file open;
allow httpd_sys_script_t xserver_t:file open;

